.card.users {
  height: 532px;
}

.collection.flush{
  margin:0;
  border:0;
  border-top:1px solid #e0e0e0;
  border-bottom:1px solid #e0e0e0;
  overflow: auto;
  cursor: pointer;
}

a.collection-link {
  text-decoration: none;
  color: inherit;
}

.collection .collection-item.avatar{
  min-height:initial;
  transition: .3s;
}
.collection .collection-item.avatar:hover{
  background-color: #eee;
  transition: .3s;
}
.collection .collection-item.avatar.waves-effect{
  display: inherit;
}
.collection .collection-item.avatar.active{
  color:inherit;
  background-color:#eee
}
.collection .collection-item.avatar .title{
  padding:0
}
.collection .collection-item.avatar p{
  font-size:14px
}

.badged-circle::before{
  display:block;
  content:'';
  position:absolute;
  left:15px;
  top:42px;
  height:12px;
  width:12px;
  background-color:#ddd;
  border-radius:50%;
  border:2px solid #fff;
  z-index:1
}
.badged-circle.online::before{
  background-color:#66BB6A
}

.card-content .circle.online{
  background-color:#66BB6A;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
}

.card-content .circle{
  background-color:#ddd;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
}

.collection.flush{margin:0;border:0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0}

.margin-bottom{
  margin-bottom: 0!important;
}

.auth.row-main{
  padding: 30px;
  /* padding: 30px 300px 0px 300px; */
}

.row-main{
  padding: 30px 30px 0px 30px;
  /* padding: 30px; */
}

.btn-full{
  width: 100%;
}

i.small{
  display: block;
  font-size: 3rem;
}

h5.small{
  font-size: 1.2rem;
}

.typing {
  color: #bdbdbd !important;
  left:auto;
  right:-150px;
  margin:2px 50px 20px;
  text-align: right;
  clear: both;
}

.joining {
  color: #bdbdbd !important;
  text-align: center;
  clear: both;
  margin-bottom: 20px;
}

.chat-wrapper {
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: auto;
  position: relative;
}

.chat-wrapper .chat-message{
  position:relative;
  float:left;
  clear:both;
  margin:2px 70px 20px 50px;
  padding:8px;
  border-radius:8px;
  line-height:22px;
  background-color:#ddd;
}

.chat-wrapper .chat-message.bw{
  width: 85%;
  word-wrap: break-word;
}

.chat-wrapper .chat-message.right{
  background-color:#448AFF;
  color:#fff
}
.chat-wrapper .chat-message.right .circle{
  left:auto;
  right:-50px
}
.chat-wrapper .chat-message.coalesce{
  margin-top:-16px
}
.chat-wrapper .chat-message .circle{
  position:absolute;
  top:-2px;
  left:-50px;
  height:42px;
  width:42px
}
.chat-input{
  border-top:1px solid #e0e0e0
}
.chat-input form input[type="text"],.chat-input textarea{
  border:0;
  margin:0;
  padding:24px;
  line-height:24px
}
.chat-input form input[type="text"]:focus:not([readonly]),.chat-input textarea:focus:not([readonly]){
  border:0;
  box-shadow:none
}
.chat-input button[type="button"]{
  padding:0 16px;
  height:72px
}
.chat-input button[type="button"] i.material-icons{
  color:#448AFF
}
.chat-input .chat-input-bar{
  display:flex
}
.row.equal-height-grid{
  display:flex;
  flex-wrap:wrap
}
.row.equal-height-grid .col{
  display:flex;
  margin-left:0
}
.row.equal-height-grid .col .card{
  display:flex;
  flex-direction:column;
  width:100%
}
.row.equal-height-grid .col .card .card-stacked{
  flex:1 0 auto
}
.row.equal-height-grid .col .card .card-align-bottom{
  margin-top:auto
}
button{
  background:none;
  border:0
}
button:focus{
  background:none
}
